@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    font-family: 'Poppings', sans-serif;

}

body {
    padding-left: 1vh;
    background-color: #ececec;
}

nav {
    display: inline-block;
    background-color: white;
    border: 3px solid rgb(43, 16, 85);
    border-radius: 0.5em;
    padding: 1em;
    margin: 1.5em;
}

nav > a {
    font-size: 82px;
    text-decoration: none;
    color: #fff;
    background-color: rgb(43, 16, 85);
    padding: 10px;
    margin: 0.2em;
    border-radius: 5px;

    text-transform: uppercase;
}

a:hover {
    background-color:rgb(52, 76, 255);
    color: rgb(190, 190, 190);
    font-weight: bold;
}

a {
    font-size: 14px;
    text-decoration: none;
    color: black;
    background-color: rgb(61, 123, 255);
    border-radius: 5px;
    padding: 10px;
}