body {
    position: relative;
    text-align: center;
    background-color: #f9f5ee;
}

nav {
    display: inline-block;
    background-color: white;
    border: 1px solid brown;
    border-radius: 0.5em;
    padding: 1em;
    margin: 1.5em;
}

nav > a {
    font-size: 14px;
    text-decoration: none;
    color: black;
    background-color: blanchedalmond;
    padding: 10px;
    margin: 0.5em;
    border-radius: 5px;
}

nav > a:hover {
    background-color:bisque;
    color: black;
    font-weight: bold;
}